body {
    background: #f5f5f5 no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    /*overflow: hidden;*/
}
#filter{
    margin: 20px;
}
h1 {
    text-align: center;
}
a{
  text-decoration:none;
}

#content {
    margin-top:10%;
}

#brand {
    padding: 10px;
    display: inline;
    cursor: pointer;
}

form div {
    text-align: center;
}

nav {
    min-height: 50px;
    /* padding:1em 2em; */
    /* font-size:1.2em; */
    color: #9d9d9d;
    top: 0;
    position: absolute;
    display: inline-block;
    width: 100vw;
    background-color: #222;
    border-color: black;
    color: #9d9d9d;
}
nav ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

li>a {
    color: #9d9d9d;
}

li>a:hover {
    color:white;
}

nav div {
    display: inline;
    /* padding: 10px; */
}

/* #loginPanel {
    display: inline;
} */

span{
    margin-left: 12px;
}

span.clear {
    clear: left;
    display: block;
}

audio {
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 30%;
}
.heart {
    display: inline-block;
    cursor: pointer;
    font-size: 2em;
    line-height: 62px;
    /* border-right: 3px solid; */
    padding-right: 11px;
}
.song {
    width: 90%;
    height: 4em;
    padding: 0.6em;
    margin: 1em;
    border: 3px solid blue;
    border-radius: 4em;
    background-color: white;
}
.songInformation{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translate(0%, -50%);
    padding-left: 25px;
}
.song p {
    padding: 5px;
    font-size: 16px;
    margin: 0
}
.innerSideSong{
    float: left;
    width: 33%;
}
.song {
    position: relative;
}

.songName {
    width: 80%;
}

.audioBtn {
    cursor: pointer;
    position: absolute;
    font-size: 37px;
    right: 5%;
    top: 14%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}


#loginPanel {
    float: right;
}
#loginPanel p{
  float: left;
  display: inline;
  margin-right: 10px;
}
#loginPanel form{
  font-size: 2em;
  float: left;
  display: inline;
  margin-right:10px;
}

#content {
    width: 70%;
}