.user-profile {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.user-profile >.heading {
    color: #fff;
    background-color: #1f7fa1;
    border-color: #1f7fa1;
}

.heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
}

.body {
    padding: 15px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border-color:grey;
    border:none;
}
table > tbody > tr {
    border-top: none;
    border:none;
}

table > tbody > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border:none;
}