p {
    background-color: grey;
    color: white;
    margin: 0;
    padding: 1.2em;
    padding: 10px;
    box-shadow: -1px 0px grey, 0px -1px grey, 1px 0px grey, -1px -1px grey, 1px -1px grey;
}

form input {
    width: 100%;
    height: 2.2em;
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 1.275rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.ver {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* .container {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #7E7D7E;
    width: 29.5%;
    background-color: #F5F5F0;
} */
.container {
    width: 30%;
    max-width: 330px;
    text-align:center;
    align-items: center;
    margin-left: 35%;
}
.button {
    cursor: pointer;
    width: 100%;
    background-color: #1f7fa1;
    color: white;
    padding: 0.6em 1.2em;
    border-color: #1f7fa1;
    border-style: solid;
    margin-top: 5%;
    border-radius: .25rem;
}

#errors p {
    background-color: #f5f5f5;
    border: none;
    color: red;
    box-shadow: none;
    width: 100%;
}