table {
  width:80%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
 td {
  padding: 15px;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table#infoProfile tr:nth-child(odd) {
  background-color:#969696;
 }
table th {
  background-color: #969696;
  color: white;
}