.innerBlock{
    margin:20px;
}
.leftInnerBlock,.rightInnerBlock{
    display: inline-block;
    width:50%;
    text-align: center;
}
#content form{
    border: #1f7fa1 3px solid;
    border-radius: 20px;
}
label{
    font-size: 1.1em;
}
.rightInnerBlock input{
    width: 80%;
    height: 16px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .575rem .75rem;
}
#content h2{
   text-align: center;
}